<strong>Olá, {{ deliveryman }} </strong>
<p>Você tem uma nova entrega. Confira os detalhes abaixo.</p>

<p>
  <strong>Cliente: </strong> {{ recipient }} <br/>
  <strong>Estado: </strong> {{ state }}
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ cep }} <br />
  <strong>Bairro: </strong> {{ neighborhood }} <br/>
  <strong>Rua: </strong> {{ street }}
  <strong>Número: </strong>  {{ number }} <br/>
  <strong>Complemento: </strong> {{ complement }} <br />
</p>
<hr />
<p>
  <strong>
    <small>Lembrando que o horário disponível para a retirada do produto é das 08:00 às 18:00 horas.</small>
  </strong>
</p>

