<strong>Olá, {{ deliveryman }}</strong>
<p>Houve o cancelamento da sua entrega:</p>
<p>
  <strong>Entrega Nº: </strong> {{ delivery }} <br/>
  <strong>Destino: </strong> {{ state }} / {{ city }} <br/>
  <strong>CEP: </strong> {{ cep }} <br/>
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
</p>
